<div class="container-fluid">
  <div class="header row">
    <div class="col-3">
      <img class="mr-3"
           src="https://secure.gravatar.com/blavatar/846bf1c3a420a68c0c091f5bce44594c?s=50&d=https%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwpcom-gray-white.png"
           alt="">
      <img src="assets/img/Sin título-1.png" alt="">
    </div>

    <div class="col-9 menu">
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Idioma</a></li>
        </ul>
      </nav>
      <nav class="busqueda navbar navbar-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Pokemon" name="Search" aria-label="Search"
                 id="buscadorPokemon">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
  </div>
</div>

