/*.header {
  background-color: aliceblue;
  height: 100px;
}

.header img {
  margin-left: 25px;
  margin-top: 25px;
}

.menu ul {
  list-style: none;

}

.menu li {
  display: inline-block;
  margin-right: 70px;
  margin-top: 25px;
}

.menu li:hover {
  transform: scale(1.5);
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  color: #C3002F;
  transform: scale(1.1);
}

.busqueda {
  padding-top: 20px;
  max-width: 30%;
}

.menu button {
  border: 1px solid #C3002F;
  color: #C3002F;

}

.menu button:hover {
  color: white;
  background-color: #C3002F;
}

.menu {

}

#pokemon {
  max-width: 30%;
}*/

.header{
  background-color: aliceblue;
}
.menu{
  background-color: aliceblue;

}
.menu li a{
  color: #17A2B8;
  margin-right: 50px;
}
.menu li a:hover{
  transform: scale(1.5);
  color: #C82333;
}

