<div *ngIf="!cargado" class="text-center">
  <img src="https://androidayuda.com/app/uploads/2016/07/pikachu.gif" alt="">
</div>
<div *ngIf="cargado" class="container-fluid contenedor">
  <div class="col-6">
    <div class="row">
      <h1>Tipo: {{nombre}}</h1>
    </div>
  </div>
  <div>
    <div class="col-6">
      <div class="row">

        <ul>
          Débil contra:
          <li *ngFor="let tipo of x05damage">
            <a [routerLink]="['/tipo/'+tipo.name]">{{tipo.name}}</a>
          </li>
          Fuerte contra:
          <li *ngFor="let tipo of x2damage">
            <a [routerLink]="['/tipo/'+tipo.name]">{{tipo.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row lista">
    <li *ngFor="let pokemon of pokemons">
      <a data-toggle="modal" data-target="#exampleModalCenter">
        <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.pokemon.url.slice(34, -1)}}.png' alt="">
      </a>
  </div>
</div>
