<div class="container-fluid contenedor">
  <div class="row">
    <div class="col-6 ">
      <button type="button" class="btn btn-outline-info boton" [routerLink]="['/pokemon/' + anterior_nombre]">
        {{anterior_nombre}}---{{anterior_id}}
      </button>
    </div>
    <div class="col-6 ">
      <button type="button" class="btn btn-outline-info boton" [routerLink]="['/pokemon/' + siguiente_nombre]">
        {{siguiente_nombre}}---{{siguiente_id}}

      </button>
    </div>
  </div>
  <div class="row">
    <h1>{{name}}---> {{id}}</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <img src="{{imagen}}" alt="">
    </div>
    <div class="col-6">
      <ul>
        <li>
          Peso: {{peso}}
        </li>
        <li>
          Altura: {{altura}}
        </li>
        <li>
          Tipos:
          <ul>
            <li *ngFor="let tipo of tipos">{{tipo.type.name}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
