<div *ngIf="!datos" class="text-center">
  <img src="https://androidayuda.com/app/uploads/2016/07/pikachu.gif" alt="">
</div>

<div class="container-fluid contenedor" *ngIf="datos">
  <div class="row">
    <div class="col-6 ">
      <button *ngIf="anterior_id != 0" type="button" class="btn btn-outline-info boton"
              [routerLink]="['/pokemon/' + anterior_nombre]">
        {{anterior_nombre}}---{{anterior_id}}
      </button>
    </div>
    <div class="col-6 ">
      <button *ngIf="siguiente_id != 0" type="button" class="btn btn-outline-info boton"
              [routerLink]="['/pokemon/' + siguiente_nombre]">
        {{siguiente_nombre}}---{{siguiente_id}}

      </button>
    </div>
  </div>
  <div class="row">
    <h1>{{name}}---> {{id}}</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-info" (click)="cambiarShiny()" *ngIf="shiny">shyni</button>
      <button type="button" class="btn btn-outline-primary" (click)="cambiarShiny()" *ngIf="!shiny">normal</button>
      <img src="{{imagen}}" alt="" *ngIf="shiny">
      <img src="{{imagen_shyni}}" alt="" *ngIf="!shiny">
    </div>
    <div class="col-6">
      <ul>
        <li>

        </li>
        <li>
          Peso: {{peso}} kg
        </li>
        <li>
          Altura: {{altura}} km
        </li>
        <li>
          Tipos:
          <ul>
            <li *ngFor="let tipo of tipos"><a [routerLink]="['/tipo/' + tipo.type.name]">{{tipo.type.name}}</a></li>
          </ul>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
</div>
