<div class="container-fluid">
  <div class="row">
    <div class="titulo col-12">
      <h1>
        Bienvenido a mi aplicación de Pokemon
      </h1>
    </div>
    <h2>
      En esta aplicación podrás encontrar una infinidad de información sobre los pokimons y sus attacks on titans y todo
      eso
    </h2>
    <h3><a href="https://andylucas.000webhostapp.com">Espero que te guste</a></h3>
  </div>
  <div class="row" *ngIf="cargado">
    <div>
      <ol class="lista-muestra">
        <li *ngFor="let imagen of array_img">
          <a data-toggle="modal" data-target="#exampleModalCenter" (click)="loadData(imagen.id)"><img
            src="{{imagen.imagen}}" alt=""></a>
        </li>
      </ol>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div *ngIf="!cargado_modal" class="text-center">
        <img src="https://78.media.tumblr.com/81fe86f8dabd50c5547e86645ad66ead/tumblr_nemzf0zzgG1s2i16to1_500.gif"
             alt="">
      </div>
      <div *ngIf="cargado_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{nombreModal}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{imagenModal}}" alt="" class="text-center">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/pokemon/'+nombreModal]"
                    (click)="cambiar_cargado_modal()">
              ir a pokedex
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!cargado">
    <img src="https://www.pokemon-go-map.com/images/maploading1.gif" alt="">
  </div>
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
</div>
