<div class="container-fluid">
  <div class="row">
    <div class="titulo col-12">
      <h1>
        Bienvenido a mi aplicación de Pokemon
      </h1>
    </div>
    <h2>
      En esta aplicación podrás encontrar una infinidad de información sobre los pokimons y sus attacks on titans y todo
      eso
    </h2>
    <h3><a href="https://andylucas.000webhostapp.com">Espero que te guste</a></h3>
  </div>
  <div class="row" *ngIf="cargado">
    <div>
      <ol class="lista-muestra">
        <li *ngFor="let imagen of array_img">
          <a [routerLink]="['/pokemon/' + imagen.id]"><img src="{{imagen.imagen}}" alt=""></a>
        </li>
      </ol>
    </div>
  </div>
  <div *ngIf="!cargado">
    <img src="https://www.pokemon-go-map.com/images/maploading1.gif" alt="">
  </div>
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
</div>
