
.titulo {
  display: inline;
  text-align: center;

}

.titulo {
  animation-duration: 1s;
  animation-name: slidein;
  font-family: 'Kavivanar', cursive;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.titulo a {
  text-decoration: none;
}

.lista-muestra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

.lista-muestra li {
  border-radius: 25px;
  border: solid black 2px;
}
